<div class="header">
    <a href="https://sistemaunico.ant.gob.ec:5038/PortalWEB/paginas/clientes/clp_criterio_consulta.jsp"
        target="_blank">Consulta tus citaciones </a>
    <a href="https://www.ant.gob.ec/" target="_blank">ANT</a>
    <a href="http://www.amt.gob.ec/index.php/servicios/hoy-no-circula.html" target="_blank">Info</a>

    <div class="header-right">
        <a href="https://twitter.com/gapatmej" class="fa fa-twitter" target="_blank"></a>
        <a href="https://www.linkedin.com/in/andr%C3%A9s-peralta-6a1256113/" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://www.youtube.com/channel/UC7Z_iQwJ7llGka9FeR82MyQ" class="fa fa-youtube" target="_blank"></a>
        <a href="https://github.com/gapatmej/" class="fa fa-github" target="_blank"></a>
    </div>
</div>